@charset "utf-8";
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* cabeçalho */
.header{
  width: 100%;
  height:80px;
  display: block;
  background-color: #52a4e4;
}
.header_dentro{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;

}
.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
}

.logo_container h1 span{
  font-weight: 800;
}
.navegar{
  float: right;
  height: 100%;
}
.navegar a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.navegar a:last-child{
  padding-right: 0%;
}
.navegar a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Poppins', sans-serif;
}



body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 250px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
ul#album-fotos {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

ul#album-fotos li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  transition: all .4s ease-in;
}

ul#album-fotos li span {
  opacity: 0;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(0,0,0,.3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}

ul#album-fotos li:hover {
  transform: scale(1.5);
}

ul#album-fotos li:hover span {
  opacity: 1;
}

ul#album-fotos li#foto01 {
  background: url('../imagens/cachorro1.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto01:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
  background: url('../imagens/cachorro2.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto02:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
  background: url('../imagens/cachorro3.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto03:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
  background: url('../imagens/gato1.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto04:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
  background: url('../imagens/gato2.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto05:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
  background: url('../imagens/gato3.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #fff;
}

ul#album-fotos li#foto06:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}
h1 {
  font-size: 25px;
}
dt {
  font-size: 25px;
}
dd {
  font-size: 20px;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 250px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}